<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-dark" th:fragment="navigation">
    <ul class="navbar-nav w-100">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/watchlist">Watchlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/calendar">Calendar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/birthday">Birthday o.O</a>
        </li>
    </ul>
</nav>
</body>
</html>