#header {
    height: 200px;
    display: block;
    align-content: space-around;
}

#header .header-titles {
    width: 100%;
    padding-top: 15px;
}

#header h2 {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 1.3rem;
    line-height: 25px;
    text-align: left;
}

#header h2 p {
    font-size: 1rem;
}

#watchlist {
    min-height: 70vh;
}

.kanban-container div footer button {
    margin-bottom: 10px;
    margin-left: 10px;
}

.kanban-container div:nth-of-type(1) footer button {
    background: #C25964;
}

.kanban-container div:nth-of-type(2) footer button {
    background: #FFD1DC;
}

.kanban-container div:nth-of-type(3) footer button {
    background: #C3B1E1;
}

.kanban-container div:nth-of-type(4) footer button {
    background: #FDFD96;
}

.kanban-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    margin-bottom: 10px !important;
}

.kanban-item i {
    color: #C25964;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
}

nav.navbar {
    margin-top: 0;
}

h1 {
    margin-bottom: 25px;
}

#header::before {
    background: url('/media/subpage.png') no-repeat;
    background-size: cover;
    background-position-y: -450px;
}

.container {
    margin-top: 1.5rem;
}

@media (max-width: 850px) {
    #header {
        flex-direction: row;
    }
}