<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lotte & Dieter - Watchlist</title>

    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <link href="/assets/css/reset.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet"/>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/subpage.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/jkanban.css" rel="stylesheet" type="text/css"/>

    <link rel="icon" type="image/jpeg" href="/media/favicon.jpeg">

    <style>
        h2 {
            margin-top: 35px;
        }

        h3 {
            position: absolute;
            right: 15px;
            top: 10px;
            font-size: 1.3rem;
            line-height: 25px;
            text-align: right;
        }

        #yt-video {
            position: fixed;
            height: 100vh;
            width: 100vw;
            z-index: 100;
        }

        #hide-yt {
            z-index: 150;
            background: #C25964;
            font-size: 1.3rem;
            color: white;
            padding: 25px;
            position: absolute;
            right: 30px;
            top: 80px;
        }
    </style>
</head>

<body>
<div class="parent" style="display: none;">
    <button id="hide-yt">Toggle video</button>
    <iframe id="yt-video" style="" src="https://www.youtube.com/embed/0Gfqdljvxwk" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    <header id="header">
        <div class="header-titles">
            <h1>Happy 18th birthday my love <3</h1>
            <h2 th:replace="~{common/couple_counter :: couple_counter}"></h2>
            <h3>Your next birthday is in <br/> <span class="birthday-counter">loading ...</span></h3>
        </div>

        <h2 th:replace="~{common/navbar :: navigation}"></h2>
    </header>
    <main class="container">
        <div id="birthday2021">
            <section>
                <h2>Happy 18th birthday Lotte!</h2>

                <div style="display: flex; justify-content: space-between">
                    <img src="https://c.tenor.com/EZy_XAfo5OYAAAAi/cat-diragana.gif" alt="Happy birthday cat #1"
                         style="width: 40%"/>
                    <img src="https://c.tenor.com/lFws_qZNE1sAAAAC/cake-cat.gif" alt="Happy birthday cat #2"
                         style="width: 40%"/>
                </div>
            </section>

            <section class="border-text">
                <h2>Border text of the letter</h2>
                <div class="texts multi-language">
                    <p class="japanese default" data-language="日本語">
                        いつも私のためにそこにいてくれて、そして私が今まで想像できた中で最も素晴らしいガールフレンドでいてくれてありがとう。私は私たちが作った誓いにとても幸せで幸運であり、私は一緒に私たちの未来を待つことができません。私は本当にあなたを月に、そして戻って、何度も<3以上愛しています
                    </p>
                    <p class="english" data-language="English">
                        Thank you for always being there for me and for being the most amazing girlfriend I could have
                        ever
                        imagined.

                        I am so happy and lucky with the vows we made, and I cannot wait for our future together.

                        I really do love you to the moon and back, many times over <3

                        <iframe width="100%"
                                height="166"
                                scrolling="no"
                                frameborder="no"
                                allow="autoplay"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1102810714%3Fsecret_token%3Ds-plyayWeePXN&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
                        </iframe>
                    </p>
                    <p class="dutch" data-language="Nederlands">
                        Dankjewel dat je er altijd bent voor me en dat je de meest geweldige vriendin / partner bent die
                        ik
                        me
                        ooit had kunnen voorstellen.

                        Ik ben zo blij en gelukkig met de geloften die we afgelegd hebben en ik kan niet wachten op onze
                        toekomst samen.

                        Ik hou echt zoveel van je, naar de maan en terug, vele malen heen en weer <3

                        <iframe width="100%"
                                height="166"
                                scrolling="no"
                                frameborder="no"
                                allow="autoplay"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1102822408%3Fsecret_token%3Ds-KNmkRgvSpC5&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
                        </iframe>
                        <small>This one even has a rainy background sound O.o</small>
                    </p>
                    <p class="swedish" data-language="Svenska">
                        Tack för att du alltid finns där för mig och för att du är den mest fantastiska flickvän jag
                        någonsin kunnat föreställa mig.

                        Jag är så glad och lycklig med de löften vi avgav, och jag kan inte vänta på vår framtid
                        tillsammans.

                        Jag älskar dig verkligen till månen och tillbaka, många gånger <3

                        <iframe width="100%"
                                height="166"
                                scrolling="no"
                                frameborder="no"
                                allow="autoplay"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1102838158%3Fsecret_token%3Ds-mvKfhkQ4gYT&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
                        </iframe>
                        <small>I know my Swedish is actual crap / very bad, but I at least wanted to give it a try
                            &hearts;</small>
                    </p>
                    <p class="french" data-language="Français">
                        Merci d'avoir toujours été là pour moi et d'être la petite amie la plus incroyable que j'aurais
                        jamais pu imaginer.

                        Je suis si heureux et chanceux avec les vœux que nous avons faits et je ne peux pas attendre
                        notre avenir ensemble.

                        Je t'aime vraiment jusqu'à la lune et retour, plusieurs fois <3

                        <iframe width="100%"
                                height="166"
                                scrolling="no"
                                frameborder="no"
                                allow="autoplay"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1102827727%3Fsecret_token%3Ds-qzAd67suxsp&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
                        </iframe>
                    </p>
                    <p class="german" data-language="Deutsch">
                        Danke, dass du immer für mich da bist und die tollste Freundin bist, die ich mir vorstellen
                        konnte.

                        Ich bin so freudig und glücklich mit den Gelübden, die wir gemacht haben, und ich kann unsere
                        gemeinsame Zukunft kaum erwarten.

                        Ich liebe dich wirklich bis zum Mond und zurück, viele Male <3

                        <iframe width="100%"
                                height="166"
                                scrolling="no"
                                frameborder="no"
                                allow="autoplay"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1102830028%3Fsecret_token%3Ds-4gooynhQYz3&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true">
                        </iframe>
                    </p>
                </div>
            </section>
        </div>
    </main>
    <footer id="footer" th:insert="~{common/footer :: footer}"></footer>
</div>

<script src="/assets/js/main.js"></script>
<script src="/assets/js/multi-language-texts.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    async function checkPassword() {
        const correctPassword = "forevertogethersince110621";

        const url = new URL(window.location);
        var password = url.searchParams.get("password");

        if (!password || password !== correctPassword) {
            var {value: password} = await Swal.fire({
                title: 'Enter your password',
                input: 'password',
                inputLabel: 'Password',
                inputPlaceholder: 'Enter your password',
                inputAttributes: {
                    maxlength: 50,
                    autocapitalize: 'off',
                    autocorrect: 'off'
                },
                inputValidator: (value) => {
                    if (!value || value !== correctPassword) {
                        return 'An incorrect password was entered, ask Dieter for the correct password ❤'
                    }
                }
            });
        }

        if (password && password === correctPassword) {
            document.querySelector(".parent").setAttribute("style", "");
        }
    }

    checkPassword();
</script>

<script>
    document.querySelector("#hide-yt").addEventListener("click", (event) => {
        const video = document.querySelector("#yt-video");

        if (video.getAttribute("style").includes("display")) {
            video.setAttribute("style", "");
        } else {
            video.setAttribute("style", "display: none");
        }
    });
</script>

<script>
    setInterval(updateBirthday, 1000);

    function updateBirthday() {
        const now = new Date();
        const birthdayCounter = document.querySelector(".birthday-counter");
        let birthday = new Date(now.getFullYear(), 7, 31, 0, 0, 0, 0);

        if (isToday(birthday)) {
            birthdayCounter.parentElement.innerHTML = "<span class=\"birthday-counter\">Your birthday is today O.o<br/>Happy birthday!!!</span>";
            return;
        }

        if (birthday.getTime() < now.getTime()) {
            birthday = new Date(now.getFullYear() + 1, 7, 31, 0, 0, 0, 0);
        }

        if (isToday(birthday)) {
            birthdayCounter.parentElement.innerHTML = "<span class=\"birthday-counter\">Your birthday is today O.o<br/>Happy birthday!!!</span>";
            return;
        }

        let delta = Math.abs(birthday.getTime() - now.getTime()) / 1000;

        const years = Math.floor(delta / 31536000);
        delta -= years * 31536000;

        const days = Math.floor(delta / 86400);
        delta -= days * 86400;

        const hours = Math.floor(delta / 3600) % 24;
        delta -= hours * 3600;

        const minutes = Math.floor(delta / 60) % 60;
        delta -= minutes * 60;

        const seconds = Math.floor(delta % 60);
        birthdayCounter.innerHTML = `${pluralize("year", years)} ${pluralize("day", days)} ${pluralize("hour", hours)} ${pluralize("minute", minutes)} ${pluralize("second", seconds)}`;
    }

    function isToday(someDate) {
        const now = new Date()

        return someDate.getDate() === now.getDate() && someDate.getMonth() === now.getMonth() && someDate.getFullYear() === now.getFullYear();
    }
</script>
</body>
</html>