<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lotte & Dieter - Watchlist</title>

    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <link href="/assets/css/reset.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet"/>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/subpage.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/jkanban.css" rel="stylesheet" type="text/css"/>

    <link rel="icon" type="image/jpeg" href="/media/favicon.jpeg">

    <style>
        main.container {
            max-width: 90vw;
        }

        #watchlist {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
<header id="header">
    <div class="header-titles">
        <h1>Watchlist</h1>
        <h2 th:replace="~{common/couple_counter :: couple_counter}"></h2>
    </div>

    <h2 th:replace="~{common/navbar :: navigation}"></h2>
</header>
<main class="container">
    <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-primary" id="random-movie">Pick random movie / serie</button>
    </div>

    <div id="watchlist"></div>
</main>
<footer id="footer" th:insert="~{common/footer :: footer}"></footer>

<script src="/assets/js/main.js"></script>
<script src="/assets/js/jkanban.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript" th:inline="javascript">
    const kanban = new jKanban({
        element: '#watchlist',
        gutter: '25px',
        dragBoards: false,
        dropEl: (el, target) => {
            const id = el.getAttribute("data-eid");
            const status = target.parentElement.getAttribute("data-id");

            const boardElements = kanban.getBoardElements(status);
            const moviePositions = [];

            for (let i = 0; i < boardElements.length; i++) {
                moviePositions.push({
                    id: boardElements[i].getAttribute("data-eid"),
                    position: i,
                });
            }

            fetch('/watchlist', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    movie: {
                        id, status
                    },
                    moviePositions
                }),
            });
        },
        itemAddOptions: {
            enabled: true,
            content: '+',
            class: 'kanban-title-button btn btn-default btn-xs add-movie',
            footer: true
        },
        itemHandleOptions: {
            enabled: false,
            handleClass: "item_handle",
            customCssHandler: "drag_handler",
            customCssIconHandler: "drag_handler_icon",
            customHandler: "<span>%title%</span> <i class='fas fa-trash'></i>"
        },
        boards: [
            {
                'id': 'UNWATCHED',
                'title': 'Watch list',
                'class': 'color-pastel-wine-red'
            },
            {
                'id': 'WATCHING',
                'title': 'Watching',
                'class': 'color-pastel-pink'
            },
            {
                'id': 'AWAITING_EPISODES',
                'title': 'Awaiting new episodes',
                'class': 'color-pastel-purple'
            },
            {
                'id': 'FINISHED',
                'title': 'Finished Watching',
                'class': 'color-pastel-yellow'
            }
        ]
    });

    const movies = [];

    /*[# th:each="movie : ${movies}"]*/
    movies.push({
        id: "[(${movie.id})]",
        name: "[(${movie.name})]",
        status: "[(${movie.status})]",
        position: "[(${movie.position})]",
    });
    /*[/]*/

    movies.forEach(addMovie);

    document.querySelector("#watchlist").addEventListener("click", event => {
        if (event.target.classList.contains("fa-trash")) {
            const kanbanItem = event.target.parentElement;
            const id = kanbanItem.getAttribute("data-eid");

            fetch('/watchlist', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: id,
            }).then(function (response) {
                return response.json();
            }).then(function (movieId) {
                kanban.removeElement(`${movieId}`);
            });
        }
    });

    document.querySelector("#random-movie").addEventListener("click", (event) => {
        const filteredMovies = movies.filter(movie => movie.status == "WATCHING" || movie.status == "UNWATCHED");
        const movie = filteredMovies[Math.floor(Math.random() * filteredMovies.length)];

        Swal.fire({
            title: '<p style="font-size: 1.5rem"><span style="font-weight: 200">The magical kwamkwammer says you should watch:</span> \n' + movie.name + '</p>',
            icon: 'info',
            width: 750,
        });
    });

    document.querySelectorAll(".add-movie").forEach(function (movie) {
        movie.addEventListener("click", async function (event) {
            const id = event.target.parentElement.parentElement.getAttribute("data-id");
            const result = await Swal.fire({
                input: 'textarea',
                inputLabel: 'Movies, series and animes',
                inputPlaceholder: 'Type your movie, serie and/or anime names here ...',
                showCancelButton: true
            });

            if (result.isConfirmed) {
                const moviesToAdd = result.value.split("\n");

                fetch('/watchlist', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(moviesToAdd.map(movie => {
                        return {
                            name: movie,
                            status: id,
                        };
                    })),
                }).then(function (response) {
                    return response.json();
                }).then(function (movies) {
                    movies.forEach(addMovie);
                });
            }
        });
    });

    function addMovie(movie) {
        kanban.addElement(
            movie.status,
            {
                id: movie.id,
                title: movie.name,
                position: movie.position,
            }
        );
    }
</script>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>