<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lotte & Dieter - Watchlist</title>

    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <link href="/assets/css/reset.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" rel="stylesheet"/>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/subpage.css" rel="stylesheet" type="text/css"/>
    <script src="/assets/css/jkanban.min.css"></script>

    <link rel="icon" type="image/jpeg" href="/media/favicon.jpeg">
</head>

<body>
<header>
    <div class="header-titles">
        <h1>Watchlist</h1>
        <h2 th:replace="~{common/couple_counter :: couple_counter}"></h2>
    </div>

    <h2 th:replace="~{common/navbar :: navigation}"></h2>
</header>
<main class="container">
    <div id="watchlist"></div>
    <!--        <div>-->
    <!--            <article>-->
    <!--                <h3>Movies</h3>-->
    <!--                <ul class="editable-list movie-editable-list" data-movie-type="MOVIE">-->
    <!--                    <li th:each="movie: ${movies}" th:data-id="${movie.id}">-->
    <!--                        <span th:text="${movie.name}" />-->
    <!--                        <input type="text" th:value="${movie.name}" autocomplete="off"/>-->
    <!--                    </li>-->
    <!--                    <li data-new="true">-->
    <!--                        <span>add another</span>-->
    <!--                        <input type="text">-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </article>-->
    <!--            <article>-->
    <!--                <h3>Series / Animes</h3>-->
    <!--                <ul class="editable-list movie-editable-list" data-movie-type="SERIE">-->
    <!--                    <li th:each="serie: ${series}" th:data-id="${serie.id}">-->
    <!--                        <span th:text="${serie.name}" />-->
    <!--                        <input type="text" th:value="${serie.name}" autocomplete="off"/>-->
    <!--                    </li>-->
    <!--                    <li data-new="true">-->
    <!--                        <span>add another</span>-->
    <!--                        <input type="text">-->
    <!--                    </li>-->
    <!--                </ul>-->
    <!--            </article>-->
    <!--        </div>-->
</main>
<footer th:insert="~{common/footer :: footer}"></footer>

<script src="/assets/js/main.js"></script>
<script src="/assets/js/jkanban.min.js"></script>

<script>
    let kanbanTest = new jKanban({
        element: "#watchlist",
        gutter: "10px",
        widthBoard: "450px",
        itemHandleOptions:{
            enabled: true,
        },
        click: function(el) {
            console.log("Trigger on all items click!");
        },
        context: function(el, e) {
            console.log("Trigger on all items right-click!");
        },
        dropEl: function(el, target, source, sibling){
            console.log(target.parentElement.getAttribute('data-id'));
            console.log(el, target, source, sibling)
        },
        buttonClick: function(el, boardId) {
            console.log(el);
            console.log(boardId);
            // create a form to enter element
            var formItem = document.createElement("form");
            formItem.setAttribute("class", "itemform");
            formItem.innerHTML =
                '<div class="form-group"><textarea class="form-control" rows="2" autofocus></textarea></div><div class="form-group"><button type="submit" class="btn btn-primary btn-xs pull-right">Submit</button><button type="button" id="CancelBtn" class="btn btn-default btn-xs pull-right">Cancel</button></div>';

            kanbanTest.addForm(boardId, formItem);
            formItem.addEventListener("submit", function(e) {
                e.preventDefault();
                var text = e.target[0].value;
                kanbanTest.addElement(boardId, {
                    title: text
                });
                formItem.parentNode.removeChild(formItem);
            });
            document.getElementById("CancelBtn").onclick = function() {
                formItem.parentNode.removeChild(formItem);
            };
        },
        itemAddOptions: {
            enabled: true,
            content: '+ Add New Card',
            class: 'custom-button',
            footer: true
        },
        boards: [
            {
                id: "_todo",
                title: "To Do (Can drop item only in working)",
                class: "info,good",
                dragTo: ["_working"],
                item: [
                    {
                        id: "_test_delete",
                        title: "Try drag this (Look the console)",
                        drag: function(el, source) {
                            console.log("START DRAG: " + el.dataset.eid);
                        },
                        dragend: function(el) {
                            console.log("END DRAG: " + el.dataset.eid);
                        },
                        drop: function(el) {
                            console.log("DROPPED: " + el.dataset.eid);
                        }
                    },
                    {
                        title: "Try Click This!",
                        click: function(el) {
                            alert("click");
                        },
                        context: function(el, e){
                            alert("right-click at (" + `${e.pageX}` + "," + `${e.pageX}` + ")")
                        },
                        class: ["peppe", "bello"]
                    }
                ]
            },
            {
                id: "_working",
                title: "Working (Try drag me too)",
                class: "warning",
                item: [
                    {
                        title: "Do Something!"
                    },
                    {
                        title: "Run?"
                    }
                ]
            },
            {
                id: "_done",
                title: "Done (Can drop item only in working)",
                class: "success",
                dragTo: ["_working"],
                item: [
                    {
                        title: "All right"
                    },
                    {
                        title: "Ok!"
                    }
                ]
            }
        ]
    });
</script>

<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>